// Base

html, body {
  height: 100%;
}

body {
  font-family: "LantingHei TC", "Apple LiGothic", sans-serif;
  @include font-smoothing(on);

  &.fixed {
    padding-top: 60px;
  }
}

@include establish-baseline;

.container {
  @include container;
}
