// Base

html, body {
  height: 100%;
}

html {
  &.fixed {
    padding-top: 60px;
  }

}

body {
  font-family: $normalFont;
  @include font-smoothing(on);
}

@include establish-baseline;

.container {
  @include container;
}

.disable-pointer {
  pointer-events: none;
}

