/**
 * Settings
 */

// Font Settings
$normalFont: "xingothic-tc-w4", "XinGothic-TC W4", "LantingHei TC", "Apple LiGothic", "Microsoft JhengHei", sans-serif;
$lightFont: "xingothic-tc-w4", "XinGothic-TC W4", "LantingHei TC", "Apple LiGothic", "Microsoft JhengHei", sans-serif;
$headerFont: "xingothic-tc-w4", "XinGothic-TC W4", "LantingHei TC", "Apple LiGothic", "Microsoft JhengHei", sans-serif;

// Color Schema
$primaryColor: #7cb059;
$secondaryColor: white;
$thirdColor: black;

// Menu Colors
$main-menu-color: white;
$main-menu-bg: #232323;

// Display
$borderRadius: 5px;
$largeBorderRadius: 10px;

// Responsive Web Design
$total-columns: 4;
$tablet: 48em 8;
$pc: 64em 12;
