<div class="inner">
  <div class="overlay cg"></div>
  <div id="about-description">
    <div class="container">
      <div class="description">
        <p>學生的身分，對你而言代表著什麼？</p>

        <p>
          在日常生活中，你可曾有對資訊科學的憧憬，希望能認識更多同好、吸收新知？
          或是已經憑藉自身技藝遨遊於天際，在尋找展現自己的舞台、分享實務經驗？
          學生計算機年會能夠滿足你的一切！以學生為本、由學生自發舉辦，
          學生計算機年會（SITCON）不只是學生「學以致用、教學相長」的實際展現，
          更冀望所有對資訊有興趣的學生，能夠在年會裏齊聚一堂，彼此激盪、傳承、啟發。
        </p>
      </div>
    </div>
    <div class="background polygon"></div>
  </div>
</div>
