<div id="cover">
  <div class="inner">
    <div id="logo">Students' Information Technology Conference</div>
    <h1>
      學生計算機年會
      <span class="small sub-header as-block">Students' Information Technology Conference</span>
      <span class="sub-header as-block">學生與創新實作</span>
    </h1>
    <%= link_to "拆毀票亭，斬斷連結", "http://kktix.com/events/sitcon2014", :class=> "glowing button", :target => "_blank" %>
  </div>
</div>
<div id="scroll-down-notice">
  Scroll Down
</div>
