<div id="cover">
  <div class="inner">
    <div id="logo">Students' Information Technology Conference</div>
    <h1>
      學生計算機年會
      <span class="small sub-header as-block">Students' Information Technology Conference</span>
      <span class="sub-header as-block">學生與創新實作</span>
    </h2>
  </div>
</div>
