<div class="inner">
  <div id="map-canva" style="height: 100%"></div>
  <div id="location-information">
    <div class="container">
      <div class="information">
        <span class="date">2014 年 3 月 15 日 /</span><span class="location"> 中央研究院 人文社會科學館</span>
      </div>
      <div class="sitcon-jiang">
        <img id="sitcon-jiang-at-map" src="images/sitcon_at_map.png" width="177" height="463" alt="SITCON 醬 Q 版" />
      </div>
    </div>
  </div>
</div>
