<div id="map-canva" style="height: 100%"></div>
<div id="location-informaion">
  <div class="container">
    <div class="informaion">
      2014 年 3 月 15 日 / 中央研究院 人文社會科學館
    </div>
    <div class="sitcon-jiang">
      <img id="sitcon-jiang-at-map" src="images/sitcon_at_map.png" width="177" height="463" />
    </div>
  </div>
</div>
