<nav id="main-menu">
  <label for="menu-toggle" class="mobile menu"><div class="item">Menu</div></label>
  <input type="checkbox" id="menu-toggle" />
  <ul class="main menu">
    <li class="item"><a href="#about">About</a></li>
    <li class="item"><a href="#location">Location</a></li>
    <li class="item"><a href="#speaker">Speaker</a></li>
    <li class="item"><a href="#schedule">Schedule</a></li>
    <li class="item"><a href="#sponsor">Sponsor</a></li>
    <li class="item"><a href="#team">Team</a></li>
  </ul>
</nav>
