<div class="inner">
  <header class="header module">
    <div class="container">
      <h2>Schedule</h2>
    </div>
  </header>
  <div class="schedule">
    <div class="filter">
      <!-- Will complete soon -->
    </div>
    <div class="sessions">
      <div class="container notice">
        主辦單位保留議程變更之權利
      </div>
      <% schedule.each do |item| %>
      <div class="item">
        <div class="container">
          <div class="time header" data-time="<%= item["time"] %>">
            <%= item["time"] %>
          </div>
        </div>
        <div class="container list">
          <%= render_sessions(item) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
