<div class="inner">
  <header class="header module">
    <div class="container">
      <h2>Speakers</h2>
    </div>
  </header>
  <div class="speakers">
    <% speakers.each do |speaker, index| %>
    <article class="speaker">
      <div class="container">
        <div class="avatar column">
          <%= avatar_image(speaker["avatar"], 150, :class => "ellipse", :alt => speaker["name"]) %>
        </div>
        <div class="biography column">
          <h3><%= speaker["name"] %></h3>
          <%= speaker["biography"] %>
          <div class="talks">
          <% speaker["talk"].each do |talk_id| %>
          <%= link_to_talk(talk_id, :class => "talk link") %>
          <% end %>
          </div>
        </div>
      </div>
    </article>
    <% end %>
  </div>
</div>
