<div class="inner">
  <header class="header module">
    <div class="container">
      <h2>Sponsor</h2>
    </div>
  </header>
  <!-- Hardcode, this will update soon ... -->
  <div class="sponsors">
    <div class="container">
      <aside class="sponsor">
        <div class="logo">
          <%= link_to image_tag("sponsors/kktix.png"), "http://kktix.com" %>
        </div>
        <h3>
          KKTIX 售票亭
          <span class="sub-header">今年你們也推不倒</span>
        </h3>
      </aside>
      <aside class="sponsor">
        <div class="logo">
          <%= link_to image_tag("sponsors/justfont.png"), "http://www.justfont.com", :target => "_blank" %>
        </div>
        <h3>
          justfont 就是字
          <span class="sub-header">網頁還沒開完字體就讀好了</span>
        </h3>
      </aside>
    </div>
  </div>
</div>
