<div class="inner">
  <header class="header module">
    <div class="container">
      <h2>Sponsor</h2>
    </div>
  </header>
  <div class="sponsors">
    <div class="container">
      <% sponsors.each do |sponsor| %>
      <aside class="sponsor">
        <div class="logo">
          <%= link_to image_tag(sponsor["logo"]), sponsor["url"], :target => "_blank" %>
        </div>
        <h3>
          <%= sponsor["name"] %>
          <span class="sub-header"><%= sponsor["sub-header"] %></span>
        </h3>
      </aside>
      <% end %>
    </div>
    <div class="container">
      <div class="inline list">
        <h3 class="inline header">特別感謝</h3>
        <span class="inline sponsor">華禎有限公司</span>
      </div>
    </div>
  </div>
</div>
