/**
 * About
 */

#about {
  position: relative;
  overflow: hidden;

  @include background(image-url("sitcon_jiang.png") no-repeat 85% 115%);

  .description {
    @include span-columns(8);
  }

  .overlay.cg {
    position: absolute;
    z-index: 100;

    width: 100%;
    height: 100%;

    pointer-events: none;

    @include background(image-url("sitcon_jiang_line.png") no-repeat 85% 115%);
  }
}

#about-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  overflow: hidden;

  color: $secondaryColor;

  @include rhythm(0.25, 0.5, 0.5, 0.25);

  .background.polygon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -25%;
    z-index: -100;

    width: 100%;

    background: $primaryColor;

    @include skewX(-45deg);
  }
}
