#landing {
  position: relative;

  padding-top: 100% * 9/16;

  background: image-url("galaxy@2x.jpg") center;
}

#cover {
  position: absolute;

  top: 50%;
  left: 0;
  right: 0;

  margin-top: -10%;
  padding: 2.5em 0;

  background: rgba(black, .2);
  color: white;

  text-align: center;

  @include rotateZ(-1.25deg);

  h1 {
    margin-top: 1.5em;
  }

  .inner {
    @include rotateZ(1.25deg);
  }
}

#logo {
  height: 75px;
  background: image-url("logo_white.svg") center no-repeat;
  @include hide-text;
}
