#landing {
  position: relative;

  padding-top: 100% * 9/16;

  overflow: hidden;

  background: image-url("galaxy@2x.jpg") center;
}

#cover {
  position: absolute;

  top: 50%;
  left: 0;
  right: 0;

  margin-top: -10em;
  padding: 2.5em 0;

  background: rgba(black, .2);
  color: white;

  text-align: center;

  @include rotateZ(-1.25deg);

  h1 {
    margin-top: 1.5em;

    font-family: $headerFont;
  }

  .inner {
    @include rotateZ(1.25deg);
  }
}

#logo {
  height: 75px;
  background: image-url("logo_white.svg") center no-repeat;
  @include hide-text;
}

@include keyframes(jumping) {
  0% {
    @include translateY(0em);
  }

  50% {
    @include translateY(0.5em);
  }

  100% {
    @include translateY(0em);
  }
}

#scroll-down-notice {
  position: absolute;
  bottom: 4em;
  left: 0;
  right: 0;
  z-index: 999;

  text-align: center;
  text-transform: uppercase;
  color: $secondaryColor;


  &:after {
    content: "";
    position: absolute;
    top: 2em;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -1em;

    border: 1em solid transparent;
    border-top: 1em solid $secondaryColor;

    @include animation(0, 1s, jumping, infinite);
  }
}
