/**
 * Location
 */

#location {
  position: relative;
  overflow: inherit;
}

#location-information {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding-top: 1.2em;
  padding-bottom: 1.2em;

  color: white;
  background: rgba(black, 0.75);

  .information {
    @include adjust-font-size-to(24px, 1.5);
    @include span-columns(8);
  }

  .sitcon-jiang {
    position: relative;

    @include span-columns(4 omega);

    img {
      position: absolute;
      top: -320px;
      z-index: 999;
    }
  }
}
