/**
 * Team Member Module
 */

.team-members {
  .header {
    padding: 0.5em;
    color: $secondaryColor;
    background: $primaryColor;

    font-family: $headerFont;

    @include rhythm(0.5, 0.25, 0.25, 0.5);
    @include border-radius($borderRadius 0 0 0);
  }
}

.member {
  margin-bottom: 0.5em;

  text-align: center;

  @include isolate-grid(3);

  .nickname, .title {
    display: block;
  }

  .avatar .link {
    display: inline-block;
    @include transition(250ms ease-in);

    &:hover, &:focus, &:active {
    }
  }

  .nickname {
    font-family: $headerFont;

    @include rhythm(0.5, 0, 0, 0.5);
  }

  .title {
    color: adjust-lightness($thirdColor, 45%);
  }
}
