/**
 * Sponsor Module
 */

.sponsors {

}

.sponsor {
  text-align: center;

  @include isolate-grid(4);

  a {
    @include opacity(0.5);
    @include transition(150ms ease-in);

    &:hover, &:active, &:focus {
      @include opacity(1);
    }
  }

  .sub-header {
    display: block;

    font-weight: normal;
    font-family: $lightFont;
    color: adjust-lightness($thirdColor, 50%);
  }
}
