/**
 * To Be Announced Module
 */

.module.to-be-announced {
  position: relative;
  height: 100%;

  overflow: hidden;

  color: $primaryColor;
  text-align: center;

  @include adjust-font-size-to(32px, 1.5);

  .inner {
    position: absolute;
    top: 50%;
    left: -10%;
    right: -10%;

    margin-top: -7em;
    height: 7em;

    &.invert {
      color: $secondaryColor;
    }
  }

  .message {
    margin-top: 3em;
  }
}

